.dashboard {
  padding: 30px 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.navigation_container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background: #3e0084;
  padding: 10px;
}

.navigation_icon {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  display: none;
  color: #fdfdfd;
}

.navigation_icon i {
  color: #fdfdfd;
  margin-left: 15px;
}

.navigation_container {
  margin-bottom: 30px;
}

.navigation ul {
  display: flex;
}

.navigation ul li {
  list-style: none;
  color: #fdfdfd;
  margin: 10px 10px;
  padding: 12px;
  border: 2px solid #3e0084;
  cursor: pointer;
  transition: 0.3s all ease-in-out;
}

.navigation ul .active {
  border-color: #fdfdfd;
}

@media only screen and (max-width: 850px) {
  .dashboard {
    padding: 20px 10px;
  }

  .navigation_icon {
    display: block;
  }

  .navigation_container {
    width: 90%;
  }

  .navigation ul {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    display: none;
    margin-top: 20px;
  }

  .navigation ul li {
    text-align: center;
  }

  .navigation .show {
    display: block;
  }
}
